<!DOCTYPE html>
<html>
<head>

    <!-- bootsrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">



    <title>Contacts Deleted</title>
</head>
<body>
    <div class="container">
        <h1>Your address book has offically been cleared!! </h1>
        <a href="/">Go back to the Address Book Home Page </a>
    </div>
</body>
</html>
